html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {

}

a {
    text-decoration: none;
    color: inherit;
}


button {
    text-decoration: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    touch-action: manipulation !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.container {
    max-width: 408px;
    margin: 0 auto;
}


.header__inner {
    background-color: #231d0f;
    padding: 6px 9px 0 9px;

}

.headet__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.user-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.header__content {
    padding-bottom: 16px;
}

.counters {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 13px;
}

.counter {
    background-color: #FFCA5A;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counter--bonus {
    max-width: 163px;
    height: 65px;
    width: 100%;
}

.counter--main {
    max-width: 214px;
    height: 65px;
    width: 100%;
}

.counter__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.counter__numb {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.income {
    margin: 0 auto;
    max-width: 327px;
    height: 25px;
    width: 100%;
    background-color: #FFCA5A;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #983819;
}

.coin {
}

.coin__inner {
    background-image: url(../img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 9px;
    height: calc(100vh - 208.6px);
    display: flex;
    flex-direction: column;
}

.coin__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-radius: 50%;
    margin: auto 0;
}

.btn {
    
    transition: 0.4s;
    border-radius: 50%;
}

.btn:active {
    transform: scale(1.1);
}

.btn__img {
    max-width: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.events {
    margin-top: auto;
    padding-bottom: 23px;
}


.event {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E0E0E0;
}

.event__income {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #b7b2b2;
}

.event__currency {
    padding: 11px;
    background-color: #FFCA5A ;
    border-radius: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.event__designation {
    padding: 6px;
    background-color: #FFCA5A ;
    border-radius: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.event__time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #828282;
}

.event__user {
    max-width: 28px;
}


.menu {
    padding-top: 22px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #231d0f;
    padding-bottom: 30px;
}

.menu__list {
    padding: 6px 14px;
    background-color: #FFCA5A;
    border-radius: 9px;
}

.menu__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}


.active {
    color: #E0E0E0;
    background-color: #983819;
}
